# sandbox_secrets.tfvars
# Variable overrides for the workspace (SECRETS! DO NOT COMMIT TO SOURCE CONTROL)
# See var.tf for more information
# general

azure_sub_id    = "xxxxx-xxxx-xxxxx-xxxxx-xxxxx"
azure_tenant_id = "xxxx-xxxx-xxxx-xxxx-xxxxx"

azure_client_id = "xxxxx-xxxx-xxxxx-xxxxx-xxxxx"
azure_client_secret = "xxxxx-xxxx-xxxxx-xxxxx-xxxxx"
