# Example file for creating: secrets.tfvars 
#
# Variable overrides for the workspace (SECRETS! DO NOT COMMIT TO SOURCE CONTROL)

# Get sub information by executing: az account show
# The subscription id for the sub you need to access
azure_sub_id    = "xxxxx-xxxx-xxxxx-xxxxx-xxxxx"

# The homeTenantId from that subscription
azure_tenant_id = "xxxx-xxxx-xxxx-xxxx-xxxxx"

# As we are using a service principal, we need the following additional vars
# Get SP information using: az ad sp list --show-mine

# The appId for the service principal
azure_client_id = "xxxxx-xxxx-xxxxx-xxxxx-xxxxx"

# The name (and location, if not in same dir)  of the PEM file you use to login with SP
azure_client_secret = "xxxxxxxxxx"
